version: "3.9"

services:
  app:
    image: jhondel/bulsujuans-backend-app:latest
    container_name: bulsujuans-backend-app-container
    restart: unless-stopped
    ports:
      - "4001:4000"
    env_file:
      - .env
